/* ------------------------------------------------ GLOBAL ------------------------------------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* -------------------------------------------- ELEMENTOS HTML -------------------------------------------- */
a{
    text-decoration: none;
    color: black;
}

a:hover, li>span:hover{
    text-decoration: underline;
    color: rgb(0, 123, 255);
}

header nav ul li, header nav ul span{
    display: inline;
    margin: 4em;
}

header nav ul li a, header nav ul li span{
    color: greenyellow;
    font-size: 2em;
    font-family: 'Nerko One', cursive;
    text-decoration: none;

}

h4{
    font-size: 2em;
    padding-bottom: 1em;
}

.carousel-item{
    width: 100vw;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item img{
    opacity: 0.9;
    
}

.carousel-item p{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: 0 0 5px #FFF, 0 0 10px #49ff18, 0 0 15px #49ff18, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;     
}

@media (max-width: 600px) {
    .carousel-item {
      height: 280px;
    }
}

/*formulario de contacto*/
form{
    margin: 15px;
    width: 90%;
    text-align: center;
} 

    form input[type=text], input[type=email], select, textarea{
        width: 100%; 
        padding: 3px 3px; 
        margin: 6px 0;
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    /* Style the submit button with a specific background color etc */
    form input[type=submit]{
        background-color: red;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    /* When moving the mouse over the submit button, add a darker green color */
    form input[type=submit]:hover{
        background-color: #4CAF50;
    }  


/* ---------------------------------------------- POR .CLASE ---------------------------------------------- */

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.main-cover{
    font-size: 3em;
    text-align: center;
    padding-top: 50vh;
}

.contact-container{
    display: flex;
}

.form-container{
    background-image: url("../images/email-concept.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: right;
}

.contact-form{
    width: 30em;
    margin-left: 65%;
    padding: 2em 0;
}

@media (max-width: 1350px) {
    .contact-form{
        width: 20em;
        margin-left: 25%;
        padding: 1em 0;
    }
}

.contact-map-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 2em 0;
}

.contact-map{
    text-align: center; 
    padding-bottom: 1em;
}

.contact-map iframe{
    
    width: 60vw;
    height: 60vh;
    margin-left: 1vw;
}

.contact-map-datos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    font-size: 1.5em;
}

.footer-social{
    text-align: center;
}

.footer-social a{
    margin: 0 10px;
}

.footer-options li{
    list-style: none;
    text-align: center;
}

.footer-form{
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    margin-top: 6px;
    font-weight: bolder;

}

.fa-map-marker{
    color: darkred;
}
.fa-phone-square{
    color: green;
}
.fa-clock-o {
    color: darkblue;
}



/* WHATSAPP BUTTON */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50%;
	text-align:center;
    font-size:30px;
	/* box-shadow: 2px 2px 3px #999; */
    z-index:100;
}
/* WHATSAPP BUTTON */
.my-float{
	margin-top:15px;
}


/* ------------------------------------------------ POR #ID ------------------------------------------------- */
#header-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
}

#menu-dropdown{
    position: relative;
    text-align: center;    
}

#menu-dropdown span{
    position: relative;
    z-index: 2;
}

#menu-dropdown-values{
    display: none;
    position: absolute;
    top: -1.5em;
    left: 4em;
    display: none;
    background-color: transparent;
    border-radius: 5px;
    padding-top: 60px;
    
}

#menu-dropdown:hover #menu-dropdown-values{
    display: flex;
    flex-direction: column;
            
}

#menu-dropdown-values li{
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    border-top: 1px solid lightgrey;
    padding: 20px 0px 20px 10px;
    margin: 10px;
}

#menu-dropdown-values li a{
    color: yellowgreen;
    font-size: 2em;
    font-family: 'Nerko One', cursive;
    text-decoration: none;
}

#menu-dropdown-values li a:hover{
    text-decoration: underline;
    color: rgb(0, 123, 255);
    
}

#footer-container{
    background-color:black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 1em;
}

#footer-container a{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}