/* ------------------------------------------------ GLOBAL ------------------------------------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------------------------------------------- ELEMENTOS HTML -------------------------------------------- */
header, h1{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);;
    padding: 0 5px;
}

section > h3{
    background: rgb(6,191,9);
    background: linear-gradient(90deg, rgba(6,191,9,1) 0%, rgba(158,241,152,1) 50%, rgba(236,154,10,1) 100%);
    margin: 1rem 0;
}
/* ---------------------------------------------- POR .CLASE ---------------------------------------------- */
.font-nerko-one{
    font-family: 'Nerko One', cursive;
    font-size: 4rem;
}

.font-orbitron{
    font-family: 'Orbitron', sans-serif;
}

.c-item-custom{
     width: 100%;
    height: 100vh; 
} 

.bg-overlay{
    background: black;
}

.contact-map-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 2em 0;
}

.contact-map{
    text-align: center; 
    padding-bottom: 1em;
}

.contact-map iframe{
    
    width: 60vw;
    height: 60vh;
    margin-left: 1vw;
}

.contact-map-datos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    font-size: 1.5em;
}

.footer-social{
    text-align: center;
}

.footer-social a{
    margin: 0 10px;
}

.footer-options li{
    list-style: none;
    text-align: center;
}

.footer-form{
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    margin-top: 6px;
    font-weight: bolder;

}

.fa-map-marker{
    color: darkred;
}
.fa-phone-square{
    color: green;
}
.fa-clock-o {
    color: darkblue;
}

.form-container{
    background-image: url("../images/email-concept.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-grid{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
}

.menu-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* FLIP CARD BEGIN */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 330px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
   justify-self: center;
}
.flip-card-front > img{
      width: 300px;
      height: 300px;
}
  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: white;
    color: black;
}
  
  /* Style the back side */
.flip-card-back {
    background: rgb(6,191,9);
    background: linear-gradient(90deg, rgba(6,191,9,1) 0%, rgba(158,241,152,1) 50%, rgba(236,154,10,1) 100%);
    
    transform: rotateY(180deg);
}

.obento-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
   justify-items: stretch;
    grid-area: 1 / 1;

}

h6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flip-card-back p{
    font-family: cursive;
}
/* FLIP CARD END */

/* WHATSAPP BUTTON BEGIN */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50%;
	text-align:center;
    font-size:30px;
	/* box-shadow: 2px 2px 3px #999; */
    z-index:100;
}

.my-float{
	margin-top:15px;
}
/* WHATSAPP BUTTON END */

/* -------------------------------------------- POR #ID -------------------------------------------- */
#carouselMain .carousel-item img{
    opacity: 0.482;
}

#footer-container{
    background-color:rgb(49, 42, 42);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 1em;
}

#footer-container a{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ------------------------------------------------ RESPONSIVE ------------------------------------------------ */
@media (min-width: 992px) {
    #pedir-online img{
        width: 150px;
        height: 150px;
    }
    
    .sushi-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
    grid-area: 1 / 1;
    } 

    .obento-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
        grid-area: 1 / 1;
    }
    .adicional-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        grid-auto-rows: minmax(100px, auto);
        grid-area: 1 / 1;
    }

}

@media (max-width: 991px) {
    .carousel-item {
      width: 100%;  
      height: 463px;
    }

    #pedir-online img{
        width: 100px;
        height: 100px;
    }

    .sushi-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1,5rem;
        grid-auto-rows: minmax(100px, auto);
        grid-area: 1 / 1;
    }
    .obento-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1,5rem;
        grid-auto-rows: minmax(100px, auto);
        grid-area: 1 / 1;
    }
}

@media (max-width: 600px) {
    .carousel-item {
      width: 100%;  
      height: 280px;
    }

    #pedir-online img{
        width: 50px;
        height: 50px;
    }

    .sushi-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        grid-auto-rows: minmax(100px, auto);
        grid-area: 1 / 1;
    }
    .obento-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        grid-auto-rows: minmax(100px, auto);
        grid-area: 1 / 1;
    
    }
}