/* xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide) */
$width-xs: '768px';
$width-sm: '991px';
$width-md: '1199px';

/* COLORS */
$lgrad-black-white: linear-gradient(90deg, white 0%, black 100%);
$lgrad-green-orange: linear-gradient(90deg, #06bf09 0%, #9ef198 50%, #ec9a0a 100%);
$lgrad-purple-orange: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);

$text-shadow-01: 0 0 5px #FFF, 0 0 10px #f613eb, 0 0 15px #49ff18, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;

/* BACKGROUND COLOR*/
$bg-gradient-h1: $lgrad-black-white;
$bg-gradient-h3: $lgrad-green-orange;
$bg-gradient-contact-map: $lgrad-purple-orange;
$bg-menu-cards: black;
$text-menu-cards: white;

$text-shadow-h1: $text-shadow-01;
