.footer-social {
    text-align: center;
    a{
        margin: 0 10px;
    }
}
  
.footer-datos{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content:space-evenly;
}

.footer-sub-datos{
  display: flex;
  flex-direction: column;
}

#footer-container{
  background: $lgrad-purple-orange;
  font-size: large;
}

#footer-container a{
  color: black;
  font-family: $footer-a-font;
}
  
.fa-map-marker {
  color: darkred;
}

.fa-phone-square {
  color: green;
}

.fa-clock-o {
  color: darkblue;
}

