.footer-social {
    text-align: center;
    a{
        margin: 0 10px;
    }
}
  
.footer-datos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content: space-around;

  @media only screen and (max-width: $width-sm) {
    justify-content: flex-start;
  }

  @media only screen and (max-width: $width-xs) {   
    justify-content: flex-start;
  }
}

.footer-sub-datos{
  display: flex;
  flex-direction: column;
  

  @media only screen and (max-width: $width-sm) {
    margin-right: auto;
  }

  @media only screen and (max-width: $width-xs) {   
    margin: 2rem;
  }
}

.footer-derechos p{
  margin: 0;
  font-weight: bold;
}

#footer-container{
  background: $lgrad-purple-orange;
  font-size: large;
}

#footer-container a{
  color: white;
  font-family: $footer-a-font;
}
  
.fa-map-marker {
  color: darkred;
}

.fa-phone-square {
  color: green;
}

.fa-clock-o {
  color: darkblue;
}

